*{
    color: #191970;
    background: #F8F8FF;
    opacity: 0.9;   
    font-family: 'Roboto-Thin'; 
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url("D:/Git_projects/learning/Learning/assets/fonts/Roboto-Thin.ttf") format("ttf");
}

html, body {
    font-family: 'Roboto-Thin';
}