@font-face {
    font-family:"Raleway-Regular"; 
    src:url('../fonts/Raleway-Regular.ttf');
    font-style: normal;

    }

@font-face{
        font-family: "Raleway-ExtraBold";
        src: url('../fonts/Raleway-ExtraBold.ttf');
        font-style: bold;

    }
    @font-face{
        font-family: "Raleway-Medium";
        src: url('../fonts/Raleway-Medium.ttf');
    }

    @font-face{
        font-family: "Montserrat-Light.";
        src: url('../fonts/Montserrat-Light.ttf');
    }

.header  {    
    display: flex; 
    flex-direction: row;

         
}
.menu {
    display: flex;
}

.menu__element {
    font-family: 'Raleway-Regular';
    margin: 30px;  
}



.logo {
    font-family: 'Raleway-Regular';
    font-size: 34px;
    
}

.banner{
    position: relative;
    min-height: 100vh;
    background-image: url(../images/background1.jpg);
}

.slider{

}

.slider__nav{


}

.slider__pagination{

}

.sliader__items{

}

.sliader__item{

}